{% extends "base.html" %} {% block main %}
<div class="container">
    <form action="/signin" method="post">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email">
            <p class="help-block">Use email: admin@example.com</p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <p class="help-block">Use password: 123456</p>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
{% endblock %}
