<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>添加歌曲</title>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/index.html">我的音乐</a><small><%= title %></small></small></h1>
    </div>
    <div>
      <form action="/add" method='POST' enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">标题</label>
          <input type="text" name="title" id="title" placeholder="请输入音乐标题">
        </div>
        <div class="form-group">
          <label for="singer">歌手</label>
          <input type="text" name="singer" id="singer" placeholder="请输入歌手名称">
        </div>
        <div class="form-group">
          <label for="music">音乐</label>
          <input type="file" name="music" id="music">
          <span>请选择要上传的音乐</span>
        </div>
        <div class="form-group">
          <label for="poster">海报</label>
          <input type="file" name="poster" id="poster">
          <span>请选择要上传的音乐海报</span>
        </div>
        <button type="submit">添加</button>
      </form>
    </div>
  </div>
</body>
</html>